<?xml version="1.0"?>
<configuration>
  <appSettings >
    <add key="HeartbeatRate" value="60"/>
    <add key="ConferenceMaximumMembers" value="10"/>
    <add key="RecordingDirectory" value="C:\Recording"/>
  </appSettings>
  <connectionStrings>
    <add name="AgbaraVOIPDB" connectionString="Data Source=localhost;Initial Catalog=agbara;Integrated Security=SSPI;Connect Timeout=120;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
